/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Reenie+Beanie&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

section {
    margin: 3rem 0;
}


/* Header Styles */

.hero {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
}

video {
    max-height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 4em;
    width: 80%;
    font-weight: bold;
    position: absolute;
    word-break: break-word;
    bottom: 15px;
    left: 25px;
    padding: 0;
    margin: 0;
}


/* Main Styles */

main {
    width: 85%;
    margin: 0 auto;
}

.blurb {
    text-align: justify;
    text-align-last: center;
}

h2 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    background-color: #60B5B5;
    color: white;
    display: block;
    margin: 0 auto 30px;
    width: 60%;
    text-align: center;
    padding: 5px 0;
    text-shadow: -2px 2px 2px #363636;
    box-shadow: -1px 1px 2px #363636;
    margin-top: 3%;
}

section:first-child h2, section:last-of-type h2 { transform: rotate(1deg); }
section:nth-of-type(2) h2 { transform: rotate(-1deg); }

p {
    margin: 30px 0;
    text-align: justify;
}

/* Form Styles */

form {
    margin: 0 auto;
}

.required {
    color: #eb2a2a;
}

.field {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 0;
    width: 100%;
}

label {
    width: 100%;
    margin: 1%;
    font-size: 1.2em;
}

input {
    font-size: 1.2em;
    padding: 5px;
    flex: .5 1 auto;
}

.success {
    color: green;
    font-weight: bold;
    text-align: center;
}

.error {
    color: #eb2a2a;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.button_cancel {
    text-decoration: none;
}

.button_cancel button {
    background-color: #60B5B5;
}

button {
    margin: 20px auto;
    width: 50%;
    padding: 5px;
    display: block;
    color: white;
    font-size: 1.5em;
    background-color: #b58b60;
    font-family: 'Poppins', sans-serif;
    text-shadow: -1px 1px 1px #363636;
    outline: none;
    border: none;
    box-shadow: 0 2px #453220;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:after {
    content: "";
    background-color: white;
    opacity: .2;
    height: 100px;
    width: 50px;
    top: -25px;
    left: -75px;
    position: absolute;
    transition: all .3s ease;
    transform: rotate(25deg);
}

button:hover:after {
    left: 120%;
}

button:active {
    top: 2px;
    box-shadow: none;
}


/* Table Styles */

.row:first-child {
    background-color: #b58b60 !important;
    color: white;
    font-weight: bold;
}

.row:nth-child(odd) {
    background-color: #f4ebe3;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.row-item {
    width: 25%;
    word-break: break-all;
    margin: 0 5px;
}

.row-item:last-child {
    width: 5%;
}

.fa-edit {
    color: #60B5B5;
}

 .fa-edit:hover {
    color: #eb2a2a;
 }


/* Footer Styles */

footer {
  background-color: #2D3319;
  color: #DED6D6;
  padding: 10px 0;
}

footer p {
    text-align: center;
}


@media screen and (min-width: 691px) {
    h1 {
        font-size: 5em;
    }
    label {
        width: 30%;
        text-align: right;
    }
    .field {
        flex-flow: row nowrap;
    }
    button {
        width: 30%;
    }
}

@media screen and (min-width: 851px) {
    main {
        width: 75%;
    }
    section {
        margin: 5rem 0;
    }
    h1 {
        font-size: 6em;
    }
    h2 {
        width: 40%;
    }
    button {
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    video {
        width: 100%;
        overflow: hidden;
    }
    h1 {
        word-break: normal;
        font-size: 9em;
        max-width: 50%;
    }    
    .row {
        max-width: 75%;
    }
}
